{{ define "body" }}
    <body class="post-template-default single-post">
{{ end }}


{{ define "main" }}
<div id="loop-container" class="loop-container">
    <div class="page">
        <div class="entry-container">
            <div class='entry-header' style="padding-top: 2.8em">
                <h1 class='entry-title'> {{ .Title }}</h1>
            </div>

            <div class="entry-content">
                <article>
                    {{ .Content }}

                    <div id="contact-box" class="contact-box" data-netlify-recaptcha="true">
                        <form name="contact" method="POST" data-netlify="true" autocomplete="off" action="email/inviata">

                            <div>      
                                <input type="text" name="nome" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nome</label>
                            </div>

                            <div>      
                                <input type="email" name="email" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Email</label>
                            </div>

                            <div>      
                                <input type="text" name="oggetto" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Oggetto</label>
                            </div>

                            <div style="display: grid">      
                                <textarea type="textarea" cols="72" rows="7" name="messaggio" required></textarea>
                                <label>Messaggio</label>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>

                            <div data-netlify-recaptcha="true"></div>

                            <button type="submit" alt="Invia mail" class="more-link">Invia</button>

                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

{{ end }}
