{{ define "body" }}

<body class="single-post">
{{ end }}


{{ define "main" }}

<div id="loop-container" class="loop-container">
    {{ if and (isset .Params "image") .Params.image }}
    <div class="post entry">

        <div class='featured-image lazy lazy-bg-image' {{ if isset .Site.Params "usepostimgfolder" }} data-background="{{ .Permalink }}{{ .Params.image }}"{{ else }} data-background="{{ .Params.image | absURL }}"{{ end }}>
    </div>
    {{ else }}

    <div class="post type-post page entry">

        {{ end }}
        <div class="entry-container">
            <div class='entry-header' style="padding-top: 2.8em">
                <h1 class='entry-title'> {{ .Title }}</h1>
            </div>

            <div class="entry-content not-p-big">
                <article>
                    {{ .Content }}
                </article>
            </div>

        </div>


    </div>

</div>

{{ end }}
