/* 
    Created on : Apr 28, 2020, 9:29:37 AM
    Author     : Nicola Parisi
*/

/*
 * - - - - - - - - - - - - - - - - - - - - -
 * GENERALE
 * - - - - - - - - - - - - - - - - - - - - -
 */
    /**
     * IMPOSTAZIONI GENERALI
     */
    body, .overflow-container { background: #fcfcfc !important; }
    html { scroll-behavior: smooth; }
    html * { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
    :target { background-color: transparent; }
    a { color: #4d4d4d !important; transition: 0.2s ease !important; }
    a:hover { color: #f4511e }
    a.light-link { color: #c8c8c8 !important; transition: 0.2s ease !important; }
    a.light-link:hover { color: #f4511e }
    .more-link, .more-link:visited { background-color:#f4511e; border:1px solid #f4511e; color:#fff !important; padding:1.0em; border-radius: 3px; transition: 0.2s ease !important; cursor: pointer; }
    .more-link:hover, .more-link:disabled {  background-color: #4d4d4d; border:1px solid #4d4d4d; color: #fff !important; }
    .more-link:focus { outline: none; }
    .more-link:after { width: 0px !important; } /* impedisce il formarsi della barra inferiore all'hover del link    */
    .design-credit a { color: #8c8c8c !important; border-bottom: 2px solid; }
    .orange-box { background-color: #f4511e; padding:1.0em; border-radius: 3px; margin: 6em 4.56% -8em; }
    .orange-box p { color: #f8f8f8; font-family: "Open Sans", sans-serif !important; margin: 0.7em; font-size: 1.3rem; }
    .no-box-shadow { box-shadow: initial !important; }

    /**
     * HEADER
     */
    .site-title {  opacity: 1; }
    .site-description { font-weight: 800; opacity: 1 !important; color: #4d4d4d !important; text-transform: uppercase; letter-spacing: 0.8; font-size: 12pt; }
    .menupop a { color: white !important; }
    .excerpt-header:after, .entry-header:after { height: 0.25em !important; width: 5em !important; bottom: -1.05em !important; opacity: 0.90; border-radius: 3px; }
    .excerpt-header:after { background: #4d4d4d !important; opacity: 0.17; height: 0.15 !important; }
    .excerpt .featured-image { filter: saturate(0.7); }
    .excerpt .featured-image:hover { filter: saturate(1); }
    .sidebar-after-post-content { display: inline-block !important; }
    .widget_recent_entries, .widget_categories { display: inline-block !important; padding: 0 2%; float: left; }
    .header-section-index { font-size: 1.87em; text-transform: uppercase; color: #c7c7c7; margin-bottom: 0.8; display: inline-block; margin-top: 1em; }
    .header-section-index-bottom { height: 2px; width: 100%; background-color: #f4511e; margin-bottom: 1.4em; opacity: 0.2; border-radius: 3px; }
        
    /**
     * HOME PAGE
     */    
    .excerpt { opacity: 0.95; cursor: pointer; }
    .excerpt-meta { margin-bottom: 1.2em; }

    .excerpt-meta .category a, .excerpt-title a { color: #4d4d4d !important; }
    .excerpt-meta .category a:hover, .excerpt-title a:hover { color: #f4511e !important; }
    
    .home .featured-image { transition: all 0.45s ease; }
        
    /**
     * MENU
     */
    .menu-primary-items a { color: #4d4d4d !important; opacity: 1 !important; }
    .menu-primary-items a:hover { color: #f4511e !important; opacity: 1 !important; }
    #header, .top-navigation, .search-icon, fa-arrow-up { background: #fcfcfc !important; }
    .fa-search, .return-top, .fa-bars { color: #4d4d4d !important; }
    .fa-bars:hover, .return-top:hover, .fa-search:hover { color: #f4511e !important; }
    .search-submit { background: #f4511e !important; }
    .main, .menu-container { background: #fcfcfc !important; }
    .menu-primary, .menu-primary-tracks {
        background-image: -webkit-linear-gradient(#f4511e 26px, transparent 24px, transparent 24px);
        background-image: linear-gradient(#f4511e 26px, transparent 24px, transparent 24px);
    }
    
    /**
     * QUOTE NEL FEED PRINCIPALE
     */
    .format-quote { cursor: default !important; background: #fff !important; padding: 2.3em; }
    .format-quote:before { content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="svg-inline--fa fa-quote-left fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="39"><path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path></svg>'); top: -6px; left: -5px; color: #4d4d4d; font-size: 25pt; opacity: 0.4; }
    .format-quote:after { content:''; display:inline-block; width:2.6em; height:100%; border-bottom:3px solid #4d4d4d; opacity: 0.6; }
    .format-quote p { color: #4d4d4d; font-family: "Open Sans", sans-serif; font-size: 16pt; padding: 0px 20px; margin: 10px 0 ; font-weight: 600; font-style: italic; text-align: center !important; }
    
    /*
     * POST
     */
    article p, article ul { font-family: "Open Sans", sans-serif !important; line-height: 1.8em !important; font-size: 1.3rem; text-align: justify !important; word-spacing: -2px; }
    p a, .entry-content li a { color: #4d4d4d !important; text-decoration: none !important; -o-transition: 0.45s; transition: 0.45s; border-bottom: 3px solid ; overflow-wrap: break-word; word-break: break-word; word-wrap: break-word; padding: 2px; margin: -2px; -webkit-box-shadow: initial; box-shadow: initial; font-weight: 300; }
    p a:hover, .entry-content li a:hover { color: #f4511e !important; }
    aricle strong, article b, #wtr-content strong, article blackquote strong, p a { color: #4d4d4d !important;  font-weight: 600; }
    article .category { display: block; }
    article .category a { background-color:#f4511e; padding: 0.7em 1.1em; margin-bottom: 2em; margin-right: 0.8em; font-weight: 600; opacity: 1 !important; text-transform: uppercase; letter-spacing: 0.8; font-size: 13pt; color: #fff !important; text-decoration: none; border-radius: 3px; }
    article .category a:hover, .category a:nth-child(2):hover { background-color: #4d4d4d; }
    .entry-meta .wtr-time-wrap, .entry-meta { font-size: 10pt !important; }
    .entry-content img, .entry-content video { margin-bottom: -0.5em !important; }
    .ep-interspace { margin: -13px; }
    .entry-content figcaption { text-align: center; padding-bottom: .8em; font-size: 11pt; font-weight: normal; width: 80%; margin: 0 auto; }
    .entry-title { font-size: 20pt !important; margin-bottom: 2.8em; margin-top: 0.9em; color: black; }
    .page .entry-title { margin-bottom: 2.8em; margin-top: 1.7em; color: black; }

    .author-meta { background: #f4511e !important; }
    .author-meta p { font-size: 14pt !important; }
    .author-meta a { color: #fcfcfc !important; font-weight: bold !important; }
    .author-meta a:hover { color: white !important; font-weight: bold !important; }
    
    article h2, article h3, article h4 { font-family: "Open Sans", sans-serif !important; font-weight: 600 !important; margin-top: 1.6em !important; outline: transparent; color: #242529 !important; }
    
    article nav a { color: initial !important; }
    .nav-links .current { color: #f4511e !important; }

    .block-image figcaption, .block-video-youtube figcaption, .block-video-vimeo figcaption { color: #8c8c8c; padding-top: 25px; font-family: Source Sans Pro; font-size: 13pt !important; font-variant: small-caps; font-weight: 800 !important; text-transform: lowercase; letter-spacing: 1px; text-align: center; }
    
    .alignright, .alignleft, .aligncenter, .alignnone, .size-auto, .size-full, .size-large, .size-medium, .size-thumbnail { max-width: 100% !important; }

    .post_separator { color: #fcfcfc !important; font-weight: bold; font-size: 1.4em; }
    
    /*.entry-content iframe div { padding-top: 0 !important; } */
    
    .post { margin-top: 1.8em !important; }
    .entry .featured-image::after { opacity: 0; }
    hr { margin-left: 16.78%; margin-right: 16.78%; border-top: 1px solid #ccc; }
    .wp-block-spacer { height: 50px !important; }
    .align-left { text-align: left !important; margin: 0 4.76%; }
    .align-center { text-align: center !important; margin: 0 4.76%; }
    .has-large-font-size { font-size: 26px !important; }
    .wtr-time-wrap { font-size: 10pt !important; }
    .single-post .entry { background: #00000000 !important; }
    video, img { border-radius: 3px; }
    
    .instagram-media { margin: 0 auto 12px !important; }
    
    .post .entry-meta .wtr-time-wrap { color: #aaaaaa; }
    
    .post table { border-radius: 3px; border: 0px; margin-bottom: 3em; margin-top: 3em; }
    .post table th, .post table td { border: 0px; }
    .post table thead { background-color: #d8d8d8; }
    .post table tbody tr:nth-child(odd) { background-color: #fdfdfd; border-radius: 3px; }
    .post table tbody tr:nth-child(even) { background-color: #f2f2f2; border-radius: 3px; }
    /* Nasconde l'header in caso sia vuoto' */
    .post table tr th:empty { display: none; }
    
    .block-image figcaption:blank, .block-video-youtube figcaption:blank, .block-video-vimeo figcaption:blank { display: none !important; }
        
    .posizione_gmaps { color: #c8c8c8 ; font-style: italic; }
    .posizione_gmaps a { opacity: 0.6 }
    
    .big-first-letter::first-letter { float: left; margin: .05em .1em 0 -1.01%; text-transform: uppercase; font-style: normal; font-weight: 800; }
        
    /**
     * PAGINATOR
     */
    .paginator_bar { width: 85%; margin: 3.7em auto -1em; }
    .paginator_bar .paginator_bar_button, .paginator_bar a { padding: 1em 1.2em; border-radius: 3px; color: #f8f8f8 !important; font-weight: 800; margin: .2em; transition: all 0.45s ease; }
    .paginator_bar .direction_button { background-color: rgb(140, 140, 140, 0.4); }
    .paginator_bar .intermediate { background-color: rgb(140, 140, 140, 0.8); }
    .paginator_bar .intermediate_2 { background-color: rgb(140, 140, 140, 0.6); }
    .paginator_bar .dots { color: rgb(140, 140, 140, 0.6); }
    .paginator_bar .paginator_bar_button:hover, .paginator_bar a:hover, .paginator_bar .active { background-color: #f4511e; }
    
    /**
     * BLOCK QUOTES
     */
    .block-verse { background-color: rgba(140, 140, 140, 0.1); border-radius: 3px; color: #4d4d4d; font-size: 120%; margin: 45px 0; padding: 1.3em; text-align: center; position: relative; line-height: 2em; word-break: initial !important; }
    .block-verse i { position: absolute; font-size: 38pt; background-color: transparent; color: #f4511e; }
    .block-verse .author { text-align: center; color: rgba(77, 77, 77, 0.4); font-style: italic; font-variant: small-caps; font-size: 15pt; letter-spacing: 1px; }

    blockquote { border-left: solid 0.75em #f4511e; }

    /**
     * BLOCCHI A COLONNA
     */
    article nav a:hover { text-decoration: none !important; }
    .wp-block-columns p { margin-bottom: 0px !important; margin-top: 0px !important; }
    .wp-block-columns { padding-bottom: 0px !important; margin-bottom: 0px !important; }
    .wp-block-column { padding-bottom: 0px !important; margin-bottom: 0px !important; }
    .wp-block-column .wp-block-image figure { margin: 0px !important; }
    .wp-block-column .wp-block-image { box-shadow: none; margin: 0px !important; max-width: 100% !important; }
    
    /**
     * COPYRIGHT
     */
    .copyright-button { margin: 0 0.371em; }

    /**
     * PLUGINS
     */
        /*
         * COOCKIE NOTICE
         *
        span#cn-notice-text { display: inline-block; margin-bottom: 15px; width: 100%; font-size: 11pt; }
        div#cookie-notice { background: #262626EF !important; min-width: initial; border-radius: 3px; margin: 1%; min-width: 98%; }
        #cookie-notice .cn-button { padding: .7em 2.3em; }
        Nasconde la X della coockie notification 
        .cn-close-icon { display: none; }
         */
        .super-cookieConsentContainer {justify-content: center; width: 100%; position: fixed; bottom: 0px; display: none; z-index: 999; width: 100%; }
        .cookieConsentContainer { width: auto; min-height: 20px; box-sizing: border-box; padding: 30px 30px 30px 30px; background: #262626EF; overflow: hidden; border-radius: 3px; margin: 1em 17.89%; }
        @media (max-width: 980px) { .cookieConsentContainer { width: 95%; margin: -2% auto 2em; } }
        
        /*
         * SLIDER
         */
        .slick-content { text-align: center; left: 0; position: absolute; width: 100%; top: 50%;   -ms-transform: translateY(-50%); transform: translateY(-50%); }
        .slick-title { font-size: 1.75em; color: #f8f8f8; width: 100%; padding: 0 15%; font-weight: 600; letter-spacing: 1px; }
        .slick-image { height: 40em !important; position: relative; filter: brightness(70%); width: 100%; object-fit: cover; }
        .slick-action-button { margin: 1.3em; }
        
        /**
         * DISQUS
         */
        .disqus-box, .contact-box { background-color: rgba(140, 140, 140, 0.1); border-radius: 3px; color: #4d4d4d; font-size: 120%; margin: 0; padding: 1.3em; text-align: center; position: relative; line-height: 2em; word-break: initial !important; }
        .contact-box { margin: 1.73em 4.56%; padding-bottom: 2.73em; }
        #disqus_thread { width: 100% !important; }
        
        /**
         * INDICE
         */
        div#toc-container { background-color: #FDFDFD;  border: 1px solid #4d4d4d; margin-top: 1.5em; margin-bottom: 2.3em; border-radius: 3px; display: inline-block;  padding-right: 1.2em; resize: vertical; }
        div#toc-container .toc-title { font-weight: 800; padding: 1.2em; display: table-cell; }
        div#toc-container #toc-button { cursor: pointer; transition: all 0.45s ease; padding-left: 7em; display: table-cell; font-size: 16pt; float: right; }
        div#toc-container #TableOfContents { display: block; }
        div#toc-container #TableOfContents ul { margin-top: 0; }
        div#toc-container #TableOfContents ul li { text-align: left; }
        article ul, article ol { padding: 0 0 0 4.56%; }

        /**
         * SHARE BUTTON
         */
        @media all and (max-width: 49em) { #share_bar_button { margin: 1em 0; display: flex; overflow-x: auto; }  }
        @media all and (min-width: 49.01em) { #share_bar_button { margin: 1em 4.56%; display: flex } .fa-custom-button-whatsapp { display: none; } }
        
        .fa-facebook-f:before, .fa-linkedin-in:before, .fa-twitter:before, .fa-pinterest-p:before, .fa-whatsapp:before, .fa-get-pocket:before
        {
            height: 2.7em; width: 2.7em; font-size: 21pt; color: #f8f8f8; border-radius: 3px; line-height: 1.7em;    
        }
        .fa-custom-button { height: 3em; width: 3em; background-color: #4d4d4d; display: block; margin-right: 0.7em; border-radius: 3px; transition: 0.45s ease; text-align: center }
        .fa-custom-button a { text-decoration: none; border-bottom: 0px; }
        .fa-custom-button:hover { background-color: #f4511e !important; }
        
        /**
         * INSTAGRAM
         * Lo splitter delle colonne e le icone in base al tipo di contenuto sono nei media per le varie risoluzioni
         */
        .instagram_gallery { display: flex; width: 100%; justify-content: center;flex-wrap: wrap; }
        .instagram-pic { filter: saturate(.7) !important; transition: all 0.45s ease; border-radius: 3px; margin:1% auto; display: block; width: 94%; }
        .instagram-pic:before { content: ' '; display: block; position: absolute; left: 0px; width: 94%; background-color: white; background-image: ( 'images/instagram-loading.png' ); }
        .instagram-pic:hover { filter: saturate(1) !important; }
        .instagram-video:nth-child(1) a img { margin-left: 0 !important; }
        .instagram-video { color: #fff; width: 24px; position: absolute; top: calc( 50% - 12px); left: calc( 50% - 12px); -webkit-filter: drop-shadow( 0 0 2px rgba(0,0,0,.4) ); filter: drop-shadow( 0 0 2px rgba(0,0,0,.4) ); }
        .instagram-carosello { color: #fff; width: 24px; position: absolute; top: calc( 10% - 12px); right: calc( 11% - 12px); -webkit-filter: drop-shadow( 0 0 2px rgba(0,0,0,.4) ); filter: drop-shadow( 0 0 2px rgba(0,0,0,.4) ); }

        /**
         * SCROLL TO TOP
         */
        #boxTools { display: none; }
        
        /**
         * READING BAR
         */
        .progress-read-container { width: 100%; height: 8px; background: #ccc; position: fixed; top: 0; z-index: 1; width: 100%; background-color: #f1f1f1; }
        .progress-read-bar { height: 8px; background: #f4511e; width: 0%; }

        /**
         * NAV ARROW
         */
        .nav-arrow-left, .nav-arrow-right  { z-index: 2; display: inline-flex; cursor: pointer; overflow-x: hidden; }
        .nav-arrow-left i, .nav-arrow-right i { font-size: 2.7rem; color: #f4511e; transition: all 0.45s ease; text-shadow: 2px 2px #59595966; line-height: 82px; }
        .nav-arrow-left:hover i, .nav-arrow-right:hover i { color: #595b66; }
        .nav-arrow-left:hover .suggestion-box, .nav-arrow-right:hover .suggestion-box { background-color: #595b66; color: #f8f8f8;  transition: all 0.45s ease; }
        .suggestion-box { background: #c8c8c8; width: 100%; padding: 1.1em; font-family: "Open Sans", sans-serif !important; font-size: 1rem; border-radius: 3px; font-weight: 600; color: #595b66; margin: 1.1em; text-align: center; vertical-align: middle; }
        .super-suggestion-box { display: inline-flex; }
        .keep-reading { text-align: center; margin: .7em auto 1.3em }
        
        /**
         * AppBox
         */
        .appbox { background: rgba(140, 140, 140, 0.1) !important; padding: 1em 3em !important; border-radius: 3px; width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        .appbox img { width: 96px !important; height: 96px; float: left; margin-right: 2em; box-shadow: initial !important; margin-bottom: 0.15em !important; }
        .appbox div { width: 100%; font-size: 1.6rem; font-weight: 600; display: flex; flex-direction: column; justify-content: center; }
        
        /**
         * CONTACT FORM
         */
        #contact-box div { position:relative; margin-bottom:45px; }
        input, textarea { font-size:18px; padding:10px 10px 10px 5px; display:block; border:none; outline: none !important; background: transparent !important; border-bottom: 0px #595b66 solid !important; }
        input { width:300px !important; }
        textarea { width: 70%; border-left: 2px solid #595b66; }
        
        input:focus, textarea:focus { outline:none; }
        textarea:focus { border-left: 3px solid #f4511e; padding-left: 15px; }

        label { color:#999; font-size:18px; font-weight:normal; position:absolute; pointer-events:none; left:5px; top:10px; transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all; }
        input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label { top:-20px; font-size:14px; color: #f4511e; font-weight: 600; }
        input ~ label, textarea ~ label { padding-left: 0.43em; }

        .bar 	{ position:relative; display:block; width:300px; background: #595b66; height:2px; }
        textarea ~ .bar { width: 70%; }
        .bar:before, .bar:after { content:''; height:3px; width:0; bottom:0px; position:absolute; background:#f4511e !important; transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all; }
        .bar:before { left:50%; }
        .bar:after { right:50%; }

        input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after { width:50%; }

        .highlight { position:absolute; height:60%; width:100px; top:25%; left:0; pointer-events:none; opacity:0.5; }
        input:focus ~ .highlight { -webkit-animation:inputHighlighter 0.3s ease; -moz-animation:inputHighlighter 0.3s ease; animation:inputHighlighter 0.3s ease; }

        @-webkit-keyframes inputHighlighter { from { background:#f4511e !important; }
                                                to 	{ width:0; background:transparent; }
                                            }
        @-moz-keyframes inputHighlighter { from { background:#f4511e; }
                                            to 	{ width:0; background:transparent; }
                                        }
        @keyframes inputHighlighter { from { background:#f4511e !important; }
                                        to 	{ width:0; background:transparent; }
                                    }
                                    
        /**
         * LAZY LOADING
         */
        .img-not-found { border: 2px #595b66 dashed; border-radius: 3px; padding: 4.56%; display: grid; text-align: center; }
        .img-not-found span { margin-bottom: 1.731rem; font-family: Source Sans Pro; font-size: 1.5rem !important; font-variant: small-caps; font-weight: 800 !important; text-transform: lowercase; }

        .placeholder { background-color: #f6f6f6; background-size: cover; background-repeat: no-repeat; position: relative; overflow: hidden; }
        .img-small { filter: blur(25px); transform: scale(1); }
        
        .placeholder img.loaded { opacity: 1; }
     /**
      * MIX
      */
     .slick-slider .slick-track, .slick-slider .slick-list, #sb_instagram .sbi_photo, .loop-container .post { border-radius: 3px; background-color: #00000000; }
    .return-top { border-top-left-radius: 3px; }
        
    .widget-title { display: inline-block !important; position: relative; padding-right: 1.5em !important; }
    /* .widget-title::after {  content:''; width: 125%; position: absolute; top: 50%;  height: 1px; background: #555; transform: translateY(-50%); left: 100%; } */
    .widget_recent_entries li, .widget_categories li { margin-top: 0.50em; }
    .widget_recent_entries li > :before, .widget_categories li > :before, .crp_related_widget li > :before { content: '#'; color: #f4511e; font-weight: bold; font-size: 14pt !important; margin-right: 0.1em; }
    .widget_widget_crp { display: inline-block; }
    
    /**
     * FOOTER
     */
    .credits { font-variant: small-caps; }
    .design-credit p { font-size: 1.1em !important; margin: 0.3em auto; }
    footer .site-description { display: none; }
    
    /**
     * PAGES
     */
    .entry { background: #00000000; padding-bottom: 1.5em; }
    .rounded { border-radius: 50%; }
    
        /**
         * SEZIONE VIAGGI
         */
        .pt-cv-title { position: absolute; top: 0; padding: 50% 0.4em; cursor: pointer; transition: 0.5s; text-align: center; width: 92%; line-height: 0.65 !important; margin-right: 15px !important; transform: translateY(-25%) }
        .pt-cv-title a { font-size: 0.5em !important; color: white !important; }
        .pt-cv-ifield img { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin: 0.5em 0 !important; filter: brightness(80%); transition: 0.5s; }
        .pt-cv-ifield:hover img {filter: brightness(100%) !important; transition: 0.5s; opacity: 1;}
        .pt-cv-wrapper { margin-top: 0.8em !important; }
        
        /**
         * SEZIONE LIBRERIA
         */
        .libri-header { margin: 1.5em 0 !important; text-transform: none; padding-bottom: 1.5em; text-align: left; }
        .libri-header ul { margin: 0.9em 1.3em !important; }
        .libri-header h4 { font-size: 18pt; color: #c8c8c8; margin: 0.9em 0; font-weight: 800; }
        .libri-header h3 { font-size: 22pt; color: #595b66; font-weight: 800 !important; }
        .libri-header h3::before { content: "> "; color: #f4511e !important; opacity: 0.85; margin-top: 1.4em; height: 0.25em !important; width: 5em !important; }
        .libri-header li { font-size: 15pt; font-weight: 200; color: #CCCCCC; padding: 0.5em; word-break: break-all; }
        .libri-header a { font-size: 15pt; font-weight: 800; }
        .archive-header-h1 { text-align: center; text-transform: uppercase; margin-top: -1.6em }
        /* Colonne responsive */
        .libri-header-box { float: left; width: 50%; }
        .libri-header-big-box::after { content: ""; display: table; clear: both; }
        @media screen and (max-width: 700px) { .libri-header-box { width: 100%; } }
        
    
    /**
     * CATEGORIES
     */
    .archive-header { text-align: center; color: #000; font-size: 1.7em; line-height: 1.08; font-weight: 700; letter-spacing: 0.004; }
    .archive-header :after { content: ''; position: absolute; background: #f4511e !important; width: 4.5em !important; height: 0.075em; left: 0; right: 0; margin: 1.6em auto; }
    
    /**
     * SCROLLBAR
     */
    /* width */
    ::-webkit-scrollbar { width: 13px; }
    /* Track */
    ::-webkit-scrollbar-track { background: #f8f8f8; }
     /* Handle */
    ::-webkit-scrollbar-thumb { background: #f4511e; border-radius: 3px; }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover { background: #4d4d4d; }
    
/**
 * - - - - - - - - - - - - - - - - - - - - -
 * PICCOLI SCHERMI
 * - - - - - - - - - - - - - - - - - - - - -
 */
    @media all and (max-width: 49em)
    {
        /**
         * HEADER
         */
        .entry-header { width: 88%; }
        .top-navigation .container { float: right; }
        .top-navigation { marign-top: -1em; }
        .site-header, .top-navigation
        {
            background-color: white !important;
            margin-bottom: 0em; 
            padding-bottom: 0em;
        }
        .site-header .social-media-icons { float: left !important; }
        .site-header .logo { display: none; }
        
        .site-header { -moz-box-shadow: 0px 1px 3px 1px #d7d7d7; -webkit-box-shadow: 0px 1px 3px 1px #d7d7d7; box-shadow: 0px 1px 3px 1px #d7d7d7; margin-bottom: 1em !important;  }
        .search-icon { background-color: transparent !important; vertical-align: super !important; }	
        .button-logo { background-color: #f4511e; font-family: "Monoton"; color: #fff; font-style: italic; border-radius: 100%; font-size: 1.5em; line-height: 0.65; margin: 0px auto; margin-bottom: -10px; position: relative; text-align: center; top: 0.3em; box-shadow: 2px 2px #CCC; width: 2.6em; height: 2.6em; display: flex; align-items: center; justify-content: center; margin-top: 0px; cursor: pointer; transition: 0.5s; left: 25px; opacity: 0.9; z-index: 1000; }
        .button-logo:hover { background-color: #f4511e; opacity: 0.45; transition: 0.5s; opacity: 0.65; }
        .site-description { text-align: center !important; margin-top: 4.8em; }
        .site-header.toggled .menu-primary-items { margin-top: -0.5em; }
        
        .header-section-index { padding-left: 0.4em; color: #777777; }
        
        .site-header .search-form-container + ul { margin-right: 2em !important; }
        
        #site-header { margin-top: 0em; }
        #main, #title-info, #toggle-navigation, #site-footer { margin-top: 1em !important; }
        .header-section-index.in-evidenza { margin-top: 0em; }
        
        .dark-background .loop-container, .dark-background .main, .dark-background { background-color: #e8e8e8 !important; }
        .main { border-radius: 3px; }
        
        .excerpt-content { padding: 1.5em 0.9em 2.73em; }
        .excerpt-content p { word-spacing:-2px; }
        
        .img-not-found { margin: 3%; }
        
        /**
         * POST
         */
        .entry-content { margin-top: 1em !important; }
        .entry-content p, .entry-content ul { width: auto; }
        .entry-container { padding: 0 3% !important; margin-top: 0 !important; }
        .blog .main, .archive .main, .search .main { width: 96.96%; padding-top: 1em; }
        .post, .page { padding: 0 0px !important; margin-top: 2.5em !important; }
        .content-category { display: flex; overflow-x: auto; padding-top: 1em;}
        .entry-content .block-image, .entry-content .block-video-youtube, .entry-content .block-video-vimeo { box-shadow: none; padding: 0; }
        
         article .category { margin-bottom: 3em; /* necessario epr i post senza indice */ }
         article p, article ul { color: #595b66; } 
        
        .alignright, .alignleft, .aligncenter, .alignnone, .size-auto, .size-full, .size-large, .size-medium, .size-thumbnail { max-width: 100% !important; }
        .excerpt-container { padding: 0 2%; background-color: white; }
        
        .entry-header, .entry-title, .entry-meta {  width: 100% !important; text-align: center; padding: 0px !important; letter-spacing: 2px; }

        .post .entry-meta { margin: 0 auto 6em auto; }

        .post .entry-meta .category a { color: #fafafa !important; }
        .post .entry-meta .category a:hover { color: #f4511e !important; }

        .entry-content img, .block-video-youtube, .block-video-vimeo, .itinerario-gmaps, iframe.instagram-media { left: 50% !important; margin-left: -50vw !important; margin-right: -50vw !important; max-width: 100vw !important; position: relative; right: 50% !important; width: 100vw !important; border: 0px; }
        /*.entry-content iframe { height: 400px !important; max-height: 100%; border: 0px; } */
        
        .big-first-letter::first-letter { font-size: 3.4em; line-height: .88;  }
        
        .post .featured-image.lazy { margin-top: -4em; }
        
        .post table { width: 100%; margin: 0; }
    
        /**
         * VIDEO
         */
        .block-image figcaption, .block-video-youtube figcaption, .block-video-vimeo figcaption { left: 50%; margin-left: -50vw; margin-right: -50vw; max-width: 100vw; position: relative; right: 50%; width: 100vw !important; }
        .block-video-youtube figcaption { padding-top: 25px; }
        /*.block-video-vimeo { position: relative; padding-bottom: 120%; height: 0; overflow: hidden; width:100%; }
        .block-video-vimeo .fluid-width-video-wrapper { padding-top: 115% !important; } */
        .block-video-vimeo .fluid-width-video-wrapper iframe { border: 0px; border-radius: 3px; height: 100% !important; }
        .block-video-vimeo figcaption { margin-top: -15px; margin-bottom: -15px; }
        .block-video-vimeo .big-1 {}
        
        /* Didascalia a banda: .block-image:hover figcaption, .block-video:hover figcaption { transform: translateX(-100%); -webkit-transform: translateX(-100%); opacity: 0; } */

        .wp-block-column { flex-basis: calc(-16px + 25%) !important; margin: 0.4em !important; }
        /* Reseta le impostazioni di block-image img precedente */
        .wp-block-column .block-image img { left: initial; margin: auto 0; max-width: 100%; position: initial; right: initial; width: 100%; }

        .block-verse { margin: 45px 0; }

        .wp-block-table { margin-left: 0; margin-right: 0; }
        
        .aligncenter, .alignright { float: none !important; }
        
        .post-template-default .featured-image { height: 73vh; }
        
        .rounded { padding: 15px; }
        
        article h2, article h3, article h4 { margin-left: 0 !important; }
        article h2 { font-size: 2.5rem !important; }
        article h3 { font-size: 2rem !important; }
        article h4 { font-size: 1.5rem !important; }
        
        /*
            Header NON fisso in alto nella versione mobile
        */
        .sticky-header { }
        .hidden-site-description { }
        .visible-site-description { }

        
        /**
         * HOME PAGE
         */
        
        .home .featured-image { height: 40vh; }
        .featured-image { position: relative !important; left: 50% !important; margin-left: -50vw !important; margin-right: -50vw !important; right: 50% !important; max-width: 100vw !important; width: 100vw !important; }
        
        .format-quote .excerpt-content p { font-size: 14pt; }
        .format-quote .excerpt-container { color: #f4511e; background: #fff !important; }
        .format-quote { margin-top: -0.35em !important; margin: 1.2em 0; }
        
        .category-list-container { margin-top: -1.85em; }

        
        /**
         * MENU
         */
        #menu-primary { text-align: left; }
        .menu-primary-items { float: left; }
        .menu-unset > ul .sub-menu, .menu-unset > ul .children, .menu-primary-items .sub-menu, .menu-primary-items .children { width: 100%; }
        
        /**
         * FOOTER
         */
        #site-footer { margin-top: -5em !important; }


        
        /**
         * PLUGINS
         */
            /**
             * INSTAGRAM
             */
            .instagram_gallery a { flex: 1 0 40%; position: relative; }

            /*
            Mostra soltanto le ultime quattro foto instagram
            */
            .instagram_gallery a:nth-child(5) { display: none !important; }

            /**
             * RELATED POSTS
             */
            .relpost-thumb-container { padding: 0px !important; }
            .relpost-thumb-container h4::before, .relpost-thumb-container h4::after { width: 15%; }

            /**
             * SLIDER
             */
            .slick-image { height: 30em !important; }
            /*.wpsisac-image-slide, .wpsisac-slide-wrap { height: 125vw !important; }
            * Imposta lo slider full-width 
            .wpsisac-slick-slider { left: 50%; margin-left: -50vw; margin-right: -50vw; max-width: 100vw; position: relative; right: 50%; width: 100vw; }
            
            .widget_widget_crp { padding-left: 0.7em; }
            */
            /**
             * DISQUS
             */
            #commenti-container { margin: 5em 0% 3em; }
            
            /**
             * SCROLL TO TOP
             */
            #boxTools { display: none; }
            
            /**
             * TO TOP solo button
             */
            #tornaSu { display: block; margin-top: 9.7em; }
            
            /**
             * NAV ARROW
             */
            .nav-arrow-left { left: 4.76%; }
            .nav-arrow-right { right: 4.76%; float: right; }
            .nav-arrow-left i, .nav-arrow-right i { line-height: 115px; }
            
            /**
             * AppBox
             */
            .appbox { display: block; text-align: center; margin: 2em auto !important; }
            .appbox img { left: calc( 50% - 48px) !important; margin: auto !important; max-width: initial !important; right: initial !important; width: initial !important; }
            .appbox div { display: grid; }
            
            /**
             * LAZY LOADING
             */
            .placeholder img { top: 0; position: absolute; opacity: 0; transition: opacity 1s linear; }
            .entry-content .block-image { top: 0; left: 50% !important; margin-left: -50vw !important; margin-right: -50vw !important; max-width: 100vw !important; position: relative; right: 50% !important; width: 100vw !important; }
            
        /**
         * SEZIONE LIBRERIA
         */
        .libri-header li { padding: 0.5em 0.2em; }
        .libri-header { padding: 0 1.3em 1.5em !important; }
    }


/**
 * - - - - - - - - - - - - - - - - - - - - -
 * SCHERMI MEDIE DIMENSIONI
 * - - - - - - - - - - - - - - - - - - - - -
 */    
    @media (min-width: 43.75em)
    {
    }
    @media (min-width: 37.5em)
    {
    }

    @media (max-width: 37.5em)
    {
    }

    @media (max-width: 30em)
    {
    }

    @media all and (max-width: 20em)
    {
        .entry-header { position: initial; top: initial; color: initial; }
        .entry-header::after { background-color: #fff; }
        .entry-meta { position: initial; top: initial; width: 100%; }
        .entry-meta .date { color: #000 !important; }
        .entry-meta .category a { color: #4d4d4d !important; }
        .entry-meta .category a:hover { color: #f4511e !important; }
    }

    
/**
 * - - - - - - - - - - - - - - - - - - - - -
 * GRANDI SCHERMI
 * - - - - - - - - - - - - - - - - - - - - -
 */
    @media all and (min-width: 49.01em)
    {        
        /**
         * HEADER
         */
        .title-info { width: 100%; text-align: center; }
        .home #main { margin-top: -3.6em; }
        .site-header .site-description { position: static; text-align: center !important; letter-spacing: 0.03em; margin-bottom: 1em; }
        .entry .featured-image { position: relative !important; left: 50% !important; margin-left: -50vw !important; margin-right: -50vw !important; right: 50% !important; max-width: 100vw !important; width: 100vw !important; border-radius: 0px !important; padding-bottom: 75% !important; margin-top: -3.5em; }
        .menu-primary-items, .menu-unset { text-align: center; clear: left; margin: 0 auto !important; }
        .button-logo { display: none; }
        .menu-container { background: transparent !important; }
        
        .entry-header, .page .entry-header { width: 100%; margin-top: -6.7em; padding-top: 4.5em; margin-bottom: -5em !important; }
        .entry-header:after { background: #f4511e !important; opacity: 0.55; margin-top: 1.4em; }
        
        .post_single .entry-header { width: 120%; padding-top: 1.5em; background-color: #fcfcfc; border-radius: 0.6em; margin: -2.7em -10% 0; }
        
        .menu-unset > ul ul, .menu-primary-items ul { background: #fff; }
        .sub-menu { width: 30em !important;  }
        .menu-unset > ul ul, .menu-primary-items ul { left: -127%; min-width: 20em; }
        
        .sticky-header { position: fixed; top: 0; width: 100%; background-color: #fcfcfc; -moz-box-shadow: 0px 1px 3px 1px #d7d7d7; -webkit-box-shadow: 0px 1px 3px 1px #d7d7d7; box-shadow: 0px 1px 3px 1px #d7d7d7; padding-top: 10px; padding-bottom: 0px; transition: lal 0.5s ease; margin-top: -15px; }
        .hidden-element { display: none !important; }
   
        /**
         * VIDEO
         */
        .block-image figcaption, .entry-content .block-video-youtube figcaption, .entry-content .block-video-vimeo figcaption { }
        
        .block-video-youtube { margin: auto -7.8%; }
        .block-video-youtube .fluid-width-video-wrapper iframe { height: 120% !important; }
        .block-video-youtube figcaption { margin-top: -30px; }
        .block-video-youtube iframe { max-width: 100%; align-content: center; display: block; width: 100% !important; padding: 0 10.76% !important; height: 450px !important; max-height: 100%; border: 0px; border-radius: 3px; height: 100%;}
        .block-video-vimeo { position: relative; padding-bottom: 128%; height: 0; overflow: hidden; width:100%; margin-bottom: -2em; }
        .block-video-vimeo .fluid-width-video-wrapper { padding-top: 114% !important; }
        .block-video-vimeo .fluid-width-video-wrapper iframe { border: 0px; border-radius: 3px; }
        .block-video-vimeo.big-1 { width: 106% !important; padding-bottom: 128%; margin-left: -3%; }
        
        .logo { width: 340px; height: 78px; }
        
        .top-navigation { left: -7.2% !important; width: 114.4% !important; }
                
        .entry-container, .category-list-container { margin-top: -7em !important; background-color: #fcfcfc !important; border-top-left-radius: 1em; border-top-right-radius: 1em; }
        .entry-container .menu-item:nth-child(1) .sub-menu { margin-left: 2em; padding-top: 1.3em !important;  }
        .category-list-container { margin-top: -7em !important; }
        .category-list-container .entry-header { margin-top: 0; }
        .category-list-container .entry-header-2nd{ margin-bottom: 3em !important; }
        .category-list-container .entry-header-2nd h1 { margin-bottom: 1em !important; }
        .category-list-container .entry-header-2nd::after { margin-bottom: 0.4em; }
        
        .loop-container { margin-top: 3em; }
        
        /* Allinea il submenu della sezione Travel | Blog */
        ul.sub-menu { background-color: rgb(251, 251, 251); box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin: 0.18em; font-size: .810rem; }
        .menu-item:nth-of-type(2) .sub-menu { margin-left: 26%; }
        .menu-item:nth-of-type(4) .sub-menu { margin-left: -5%; }

        /**
         * POST
         */
        .post, .page { margin-top: 1.3em !important; }
        .entry-content p, .block-verse { font-size: 1.45rem !important; }
        .entry-meta { top: -5em !important; position: relative; margin-bottom: -5em; }
        .entry-content p, .entry-content ul, .entry-content .normal-text { font-size: 15pt; padding: 0 4.56%; }
        .has-huge-font-size, .has-larger-font-size { font-size: 42px !important; }
        .entry-content { margin: 3em -4em; }
        .block-image div, .entry-content img { text-align: center; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 100%; }
        /*.fluid-width-video-wrapper { padding-top: 480px !important; } */
        .wp-block-columns { padding: 0 6.76%; }
        .entry-content .itinerario-gmaps { width: 100%; height: 450px !important; border: 0px; }

        .block-verse { margin: 45px 4.56% !important; }
        .wp-block-embed__wrapper img { width: 85% !important; }
        .alignright, .alignleft, .aligncenter, .alignnone, .size-auto, .size-full, .size-large, .size-medium, .size-thumbnail { max-width: 100% !important; }

        .entry-container { padding: 3em 15.435% 0 !important; margin-bottom: -7em !important; }
        
        .post .entry-meta { padding-top: 7em; margin-bottom: 3em; }
        
        .sidebar-after-post-content { width: 115% !important; text-align: left !important; margin-left: -4em; }

        .entry-header h1 { font-size: 3rem !important; }
        article h2, article h3, article h4 { margin-left: 4.56% !important; }
        article h2 { font-size: 2.5rem !important; position: relative; }
        article h2::before { content: '#'; color: #f4511e; font-weight: bold; font-size: 2.3rem !important; margin-right: 0.12em; opacity: 0.5; position: absolute; right: calc(100% + 1px); }
        article h3 { font-size: 2rem !important; }
        article h4 { font-size: 1.5rem !important; }
        .widget_widget_crp { padding-left: 1.2em; }
        div.wpappbox { margin: 1.8em 8.76% !important; }
        .content-category { margin-left: 4.56%; margin-bottom: 2em; display: inline-flex ;}
        /*.wide-screen img { left: 50%; margin-left: -50vw; margin-right: -50vw; max-width: 100vw; position: relative; right: 50%; width: 100vw; z-index: 5 }*/
        .block-image figcaption, .block-video-youtube figcaption, .block-video-vimeo figcaption { width: 100%; }
        .block-video-youtube figcaption, .block-video-vimeo figcaption { text-align: center; }
        blockquote { margin-left: 4.56%; }
        
        .entry-content .block-image, .entry-content .block-video-youtube { box-shadow: none; padding: 0; }
        
        article p, article ul { color: #3b3d44; } 
    
        .big-first-letter::first-letter { font-size: 5.6em; line-height: .68;  }
        
        .img-not-found { margin: 4.56%; }
        
        .post table { width: 91.88%; margin: 3em 4.56%; }
        
        iframe.instagram-media { max-width: none !important; width: 91.88% !important; margin: 3em 4.56% !important; }
        
        /**
         * PLUGINS
         */
            /**
             * INSTAGRAM
             */
            .instagram_gallery a { flex: 1 0 15%; position: relative; }
            
            /**
             * DISQUS
             */
            #disqus_thread {  background: rgba(140, 140, 140, 0.1) !important; margin: 0 auto !important; padding: 3% 3em !important; border-radius: 3px;}
            #commenti-container { margin: 0em 0% 3em; padding-top: 3em; }
            
            /**
             * INDICE
             */
            #toc-container { margin-left: 4.56%; } 
            
            /**
             * SLIDER
             */
            .slick-image { height: 40em !important; }
            /*.slick-dots li button:hover:before { color: #f4551e !important; }
            .slick-prev { left: -23px !important; }
            .slick-next { right: 5px !important; }
            .slick-prev:before, .slick-next:before { color: #fff !important; background-color: #f4511e !important; border: 2px solid #f4511e; opacity: 1 !important; border-radius: 3px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); transition: all 0.45s ease; cursor: pointer; }
            .slick-prev:hover:before, .slick-next:hover:before { color: #595b66 !important; background-color: #fff !important; border-color: #fff; } */
            
            /**
             * SCROLL TO TOP BUTTON
             */
            #boxTools { display: none; position: fixed; bottom: 20px; right: 30px; z-index: 10; }
            #boxTools button, #boxTools button.commenti { font-size: 16pt; border: none; outline: none; background-color: #f4511e; color: #f8f8f8; cursor: pointer; padding: 15px 0; border-radius: 3px; transition: all 0.45s ease; opacity: 1; width: 87px; margin-top: 0.33em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
            #boxTools button:hover, #boxTools button.commenti:hover { background-color: #595b66; opacity: 1; }
            #boxTools button.commenti { background-color: rgb(244, 81, 30, 0.7); color: #f8f8f8; font-size: 20pt; padding: 13px; }
            
            /**
             * TO TOP solo button
             */
            #tornaSu { display: none; }
            
            /**
             * NAV ARROW
             */
            .keep-reading { margin-top: 2.7em; }
            .keep-reading-bottom { height: 0.25em !important; opacity: 0.75; border-radius: 3px; background: #f4511e; margin: 0 auto; margin: 5em 16.78%; }
            .nav-arrow-left, .nav-arrow-right  { margin: 0 4.56%; display: table; }
            .nav-arrow-left i, .nav-arrow-right i { line-height: 91px; }
            .nav-arrow-left { float: left; }
            .nav-arrow-right { float: right; }
            .super-suggestion-box { vertical-align: middle; }
            
            /**
             * AppBox
             */
            .appbox { display: flex; margin: 2em 4.56%; }
            
            /**
             * LAZY LOADING
             */
            .placeholder img { position: absolute; opacity: 0; top: 0; left: 0; width: 100%; transition: opacity 1s linear; }
            div.wide-screen { left: 50%; margin-left: -50vw; margin-right: -50vw; max-width: 100vw; position: relative; right: 50%; width: 100vw; z-index: 5; transition: opacity 1s linear; }
    }
    
    @media all and (min-width: 70em ) and (min-height: 70em )
    {
        .menu-primary-items { width: 80% !important; float: right; margin: 0 2em; text-align: left; margin-bottom: 2em !important; }

        .entry-content p, .entry-content ul { width: auto;}
    }    
    
    /* NON SO COSA SIA */
.arrow { animation: MoveUpDown 1s linear infinite; position: absolute; left: calc(50% - 65px); }
.arrow svg { transform: rotate(90deg); padding: 0.1em; }
.arrow svg:hover polyline, .arrow svg:focus polyline { stroke: #f4511e; transition: all 150ms ease-in-out; stroke-width: 7; }
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 14%;
  }
  50% {
    bottom: 16%;
  }
}