{{ define "body" }}

<body class="post-template-default single single-post single-format-standard ct-body singular singular-post not-front standard">
{{ end }}


{{ define "main" }}

  <div id="loop-container" class="loop-container">

    {{ if and (isset .Params "image") .Params.image }}
        <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-standard-2 tag-tagalicious tag-travel entry full-without-featured odd excerpt-1">

        <div class='featured-image lazy lazy-bg-image' {{ if isset .Site.Params "usepostimgfolder" }} data-background="{{ .Permalink }}{{ .Params.image }}"{{ else }} data-background="{{ .Params.image | absURL }}"{{ end }}>
    </div>
    {{ else }}

    <div class="post type-post page">

        {{ end }}
        <div class="entry-container">
            <div class='entry-header' style="padding-top: 2.8em">
            <h1 class='entry-title'> {{ .Title }}</h1>
        </div>
            
        <div class="entry-content">
            <article>
                {{ .Content }}
              
                <form name="contact" method="POST" data-netlify="true">
                  <p>
                    <label>Your Name: <input type="text" name="name" /></label>   
                  </p>
                  <p>
                    <label>Your Email: <input type="email" name="email" /></label>
                  </p>
                  <p>
                    <label>Your Role: <select name="role[]" multiple>
                      <option value="leader">Leader</option>
                      <option value="follower">Follower</option>
                    </select></label>
                  </p>
                  <p>
                    <label>Message: <textarea name="message"></textarea></label>
                  </p>
                  <p>
                    <button type="submit">Send</button>
                  </p>
                </form>
              
            </article>
        </div>

</div>
        
        
</div>

</div>

{{ end }}