    {{ define "body" }}

    <body class="post-template-default single-post">
        

        {{ if .HasShortcode "panorama" }}
        <script type="text/javascript">
            $(function () {
                // Paver
                $('div[data-paver]').paver();
            });
        </script>
        {{ end }}
        
    {{ end }}


    {{ define "main" }}
    <div id="loop-container" class="loop-container">
        <div class="post entry post_single">

            {{ if and (isset .Params "video") .Params.video }}
                <div class="featured-image lazy lazy-bg-image video-cover" style="position: fixed; top: 0; width: 100%; height: 100%; z-index: 0;">
                    <iframe src="https://player.vimeo.com/video/{{ .Params.video }}?background=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" class="single-post" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            {{ else if and (isset .Params "image") .Params.image }}
                {{ $cover := .Resources.GetMatch .Params.image }}
                {{ if $cover }}
                    <div class='featured-image lazy lazy-bg-image' data-background="{{ .Permalink }}{{ .Params.image }}"></div>
                {{ end }}
            {{ end }}

            <div class="entry-container">
                <div class='entry-header'>
                    <h1 class='entry-title'>{{ replace .Title "//" "<div class='ep-interspace'><br/></div>" | safeHTML }}</h1>
                </div>

                <div class="entry-meta"> 
                    <span class="date" style="padding-right: 1.1em; cursor: default;"  title="Post scritto il {{ .Date.Format "02" }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Format "2006" }}">
                        {{ .Date.Format "02" }}
                        {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }}
                        {{ .Date.Format "2006" }}
                    </span>
                    ★
                    {{ $timeToRead := div .WordCount 220.0 }}
                    <span class="date" style="padding-left: 1.1em; cursor: default;" title="Avrai bisogno di {{math.Ceil $timeToRead }} minuti per leggere questa pagina">
                        {{math.Ceil $timeToRead }} min di lettura
                    </span>


                </div>

                <div class="entry-content">
                    <article>
                        <div class="content-category">
                            {{ range .Params.categories }}
                                <span class="category">
                                    {{ if . }}
                                    <a href="/{{ . | urlize }}" title="Vedi tutti gli articoli della categoria ''{{ humanize . }}''">{{ humanize . }}</a>
                                    {{ end }}
                                </span>
                            {{ end }}
                        </div>

                        <!-- Social share bar -->
                        {{ partial "share_bar_button.html" . }}

                        <!-- Indice della pagina --> 
                        {{ if .Params.showToc }}
                            {{ partial "toc.html" . }}
                        {{end}}

                        {{ .Content }}

                        <!-- Frecce laterali di navigazione -->
                        {{ partial "navigazione_tra_post.html" . }}

                    </article>
                </div>
                {{ partial "disqus.html" . }}
            </div>

        </div>
    </div>
</div>    

<!-- Menù bar laterale -->
<div id="boxTools">
    <button onclick="goToComments()" title="Vai ai commenti" class="commenti"><i class="fa fa-comment"></i></button>
    <button onclick="scrollToTop()" title="Torna su"><i class="fas fa-arrow-up"></i></button>
</div>

{{ end }}
