    <div id="loop-container" class="loop-container">
        {{/* $paginator := .Paginate (where (where .Data.Pages "Section" "post").ByDate.Reverse "IsPage" true) */}}
        {{ range $index, $element := .Paginator.Pages }}

        <div class="post has-post-thumbnail excerpt zoom full-without-featured odd excerpt">

            {{ if and (isset .Params "image") .Params.image }}
                {{ $cover := .Resources.GetMatch .Params.image }}
                {{with $cover }}
                    {{ $scaled := .Resize "1920x q70" }}
                    <a class="featured-image-link" href="{{ .Permalink }}" alt="Leggi il post"><div class='featured-image lazy lazy-bg-image' data-background="{{ $scaled.Permalink }}"></div></a>
                {{ end }}
            {{ end }}

            <div class="excerpt-container">
                <div class="excerpt-meta">
                    <span class="date" style="cursor: default;"  title="Post scritto il {{ .Date.Format "02" }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Format "2006" }}">
                        {{ .Date.Format "02" }}
                        {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }}
                        {{ .Date.Format "2006" }}
                    </span>
                </div>
                <div class='excerpt-header'>
                    <h2 class='excerpt-title'>
                        <a href="{{ .Permalink }} "> {{ .Title }} </a>
                    </h2>
                </div>
                <div class='excerpt-content'>
                    <article>
                        <p>
                            {{ .Params.summary }}
                        </p>
                        <div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Continua a leggere<span class="screen-reader-text">Questo è un post </span></a></div>

                    </article>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>