<!-- <span id="disqusIcon" class="far fa-keyboard" style=" position: relative; float: right; right: 1em; font-size: 58pt; top: 38px; z-index: 1; visibility: hidden; color: #f4511e; "></span> -->
<div id="commenti-container">
    <div id="mostraCommenti" class="more-link" style="display: block; text-align: center; cursor: pointer;">Mostra commenti</div>
    
    <div id="disqus_thread" class="disqus-box" style="display: none; "></div>
</div>
<!--
<div class="orange-box">
    <p>
        Questo sito ha i commenti disabilitati di proposito.</p>
    <p>
        Vuoi dirmi qualcosa su questo post? Scrivimi una mail: trovi l'indirizzo nella barra in alto a destra.</p>
</div>
-->