{{/* CSS */}}
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="{{ "css/style.css" | absURL }}?v={{ now.Unix }}" rel="stylesheet" type='text/css' media='all'>
<link href="{{ "css/custom.css" | absURL }}?v={{ now.Unix }}" rel="stylesheet" type='text/css' media='all'>

{{/* Slider */}}
<link rel="stylesheet" type="text/css" href="{{ "assets/slick/slick.css" | absURL }}?v={{ now.Unix }}"/>
<link rel="stylesheet" type="text/css" href="{{ "assets/slick/slick-theme.css" | absURL }}?v={{ now.Unix }}"/>

{{/* Cookie */}}
<script src="{{  "js/cookie.js"| absURL }}" async></script>
{{- /* Google Analytics */}}
{{ template "_internal/google_analytics_async.html" . }}
