{{/* CSS */}}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Monoton&display=swap" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:wght@400;800&display=swap" />
<link rel="preload" as="font" href="{{ "assets/slick/fonts/slick.eot" | absURL }}" type="font/eot" crossorigin="anonymous">
<!--
<link rel="preload" as="font" href="{{ "assets/slick/fonts/slick.woff" | absURL }}" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ "assets/slick/fonts/slick.ttf" | absURL }}" type="font/ttf" crossorigin="anonymous">
-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="{{ "css/style.css" | absURL }}?v={{ now.Unix }}" rel="stylesheet" type='text/css' media='all'>
<link href="{{ "css/custom.css" | absURL }}?v={{ now.Unix }}" rel="stylesheet" type='text/css' media='all'>

{{/* Slider */}}
<link rel="stylesheet" type="text/css" href="{{ "assets/slick/slick.css" | absURL }}?v={{ now.Unix }}"/>
<link rel="stylesheet" type="text/css" href="{{ "assets/slick/slick-theme.css" | absURL }}?v={{ now.Unix }}"/>

{{/* Cookie */}}
<script src="{{  "js/cookie.js"| absURL }}" async></script>
{{- /* Google Analytics */}}
{{ template "_internal/google_analytics_async.html" . }}

{{- /* Onscroll event */}}
<script type="text/javascript">
window.onload = function () {
    /* COOKIE */
    cookieConsent();
};
window.onscroll = function () {
    /* COOKIE */
    try
    {
        if (!getCookie('nparisiCookieApproved'))
            if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400)
                cookieApproved();
    } catch (error)
    {
        console.log("Cookie già creato");
    }
}
</script>
