{{/* CSS */}}
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Monoton&display=swap" onload="this.onload=null;this.rel='stylesheet'" />
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open+Sans:wght@400;800&display=swap" onload="this.onload=null;this.rel='stylesheet'" />
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" onload="this.onload=null;this.rel='stylesheet'" />

<link href="{{ "css/style.css" | absURL }}?v={{ now.Unix }}" rel="stylesheet" type='text/css' media='all'>
<link href="{{ "css/custom.css" | absURL }}?v={{ now.Unix }}" rel="stylesheet" type='text/css' media='all'>
<link href="{{ "css/paver.min.css" | absURL }}?v={{ now.Unix }}" rel="stylesheet" type='text/css' media='all'>

{{/* Cookie */}}
<script src="{{  "js/cookie.js"| absURL }}" async></script>
{{- /* Google Analytics */}}
{{ template "_internal/google_analytics_async.html" . }}

{{- /* Onscroll event */}}
<script type="text/javascript">
window.onload = function () {
    /* COOKIE */
    cookieConsent();
};
window.onscroll = function () {
    /* COOKIE */
    try
    {
        if (!getCookie('nparisiCookieApproved'))
            if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400)
                cookieApproved();
    } catch (error)
    {
        console.log("Cookie già creato");
    }
}
</script>