<div id="tornaSu">
    <button onclick="scrollToTop()" title="Torna su" class="more-link" style="width: 13em; position: relative; left: calc(50% - 6.5em);"><i class="fas fa-chevron-up"></i> Torna su <i class="fas fa-chevron-up"></i></button>

    <div style="text-align: center; margin: 2.7em auto 0.3em; font-size: 10pt; color: #b8b8b8;" class="keep-reading">oppure</div>
</div>

<div class="keep-reading-bottom"></div>

<div class="keep-reading">Continua a leggere</div>

{{ if .PrevPage }}
    <div id="nav-arrow-left" class="nav-arrow-left">
        <span style="display: none; height: 0px; width: 0px;" id="nav-arrow-left-link">{{ .PrevPage.Permalink }}</span>
        <div class="super-suggestion-box">
            <i class="fas fa-chevron-left"></i>
            <div class="suggestion-box" id="suggestion-box">
                {{ .PrevPage.Title }}
            </div>
        </div>
    </div>
{{- end }}

{{ if .NextPage }}
    <div id="nav-arrow-right" class="nav-arrow-right">
        <div class="super-suggestion-box">
            <div class="suggestion-box" id="suggestion-box">
                {{ .NextPage.Title }}
            </div>

            <i class="fas fa-chevron-right"></i>
        </div>
        <span style="display: none; height: 0px; width: 0px;" id="nav-arrow-right-link">{{ .NextPage.Permalink }}</span>
    </div>
{{- end }}