{{/* Per ogni modifica, agigornare anche seo_next_page.html */}}
{{ with .Next }}
    {{ if isset .Params "categories" }}
        {{ if ne ( index .Params.categories 0 ) "quote" }}
        <div id="nav-arrow-right" class="nav-arrow-right">
            <div class="super-suggestion-box">
                <div class="suggestion-box" id="suggestion-box">
                {{ .Title }}
                </div>

                <i class="fas fa-chevron-right"></i>
            </div>
        <span style="display: none; height: 0px; width: 0px;" id="nav-arrow-right-link">{{ .Permalink }}</span>
        </div>
        {{ else }}
            {{ partial "next_page" . }}
        {{ end }}
    {{ else }}
        {{ partial "next_page" . }}
    {{ end }}
{{ end }}