{{ with .Next }}
        {{ if and (eq .Params.Type "article") (ne .Params.sitemapExclude) }}
        <div id="nav-arrow-right" class="nav-arrow-right">
            <div class="super-suggestion-box">
                <div class="suggestion-box" id="suggestion-box">
                {{ .Title }}
                </div>

                <i class="fas fa-chevron-right"></i>
            </div>
        <span style="display: none; height: 0px; width: 0px;" id="nav-arrow-right-link">{{ .Permalink }}</span>
        </div>
    {{ else }}
        {{ partial "next_page" . }}
    {{ end }}
{{ end }}