{{ $paginator := .Paginate ( where (where (where .Site.Pages "Type" "article").ByDate.Reverse "IsPage" true) "Params.bozza" "!=" true ) }}
{{/* Se si tratta della home / prima pagina - i primi campi "in evidenza" e "insta feed" */}}
{{ if eq $paginator.PageNumber 1 }}
    <div class="header-section-index in-evidenza">
        IN EVIDENZA
    </div>
    <div class="header-section-index-bottom in-evidenza"></div>
    {{/* partial "slider.html" ( dict "innerScope" . "outerScope" $ ) */}}
    
    <!-- -->
{{ $slider := .Site.Data.slider.array }}
    {{ partial "slider.html" ( dict "slider" $slider "outerScope" $ ) }}


<!-- -->
    <div class="header-section-index">
        INSTAGRAM
    </div>
    <div class="header-section-index-bottom"></div>

    {{ partial "instagram_feed.html" . }}

    <div class="header-section-index">
        ULTIMI POST
    </div>    
    <div class="header-section-index-bottom"></div>
{{ end }}

<div id="loop-container" class="loop-container">
    {{/* DRAFT: TRUE */}}
    {{ range $index, $element := where ( where .Site.Pages "Type" "article" ) "Params.bozza" true }}
            {{/* DRAFT POST */}}
            
            {{ if and (isset .Params "image") .Params.image }}
                {{ if eq (mod $index 2) 0 }}
                    <div class="post type-post odd excerpt post-box">
                {{ else }}
                    <div class="post type-post even excerpt post-box">
                {{ end }}
            {{ else }}
                <div class="post type-post odd excerpt post-box">
            {{ end }}
            
            {{$category := index (.Params.categories) 0}}
                        
            {{ if and (isset .Params "image") .Params.image }}
                {{/* Mostra sempre e solo l'immagine */}}
                {{ $cover := .Resources.GetMatch .Params.image }}
                    {{ $scaled := $cover.Resize "1080x q80" }}
                    <a class="featured-image-link" href="{{ .Permalink }}" alt="Leggi il post">
                        <div class='featured-image lazy lazy-bg-image' data-background="{{ $scaled.Permalink }}" style="top: -1px;">

                        {{ if and (isset .Params "video") .Params.video }}
                            <svg class="cover-video" aria-label="Click to Play" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
                            </svg>
                        {{ end }}
                        </div>
                    </a>
            {{ end }}
            <div class="excerpt-container">
               
                <div class="excerpt-meta">
                    <div class="draft-label">Bozza</div>
                    
                    <!-- POST NORMALE -->
                    <span class="date" style="cursor: default;" title="Post scritto il {{ .Date.Format "02" }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Format "2006" }}">
                        {{ .Date.Format "02" }}
                        {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }}
                        {{ .Date.Format "2006" }}
                    </span>

                    <span> / </span>
                    <span class="category" title="Vedi tutti i post della categoria">
                        <a href="/{{ $category | urlize }}">{{ humanize $category }}</a>
                    </span>
                </div>
                <div class='excerpt-header'>
                    <h2 class='excerpt-title'>
                        <a href="{{ .Permalink }} "> {{ .Title }} </a>
                    </h2>
                </div>
                <div class='excerpt-content'>
                    <article>
                        <p>{{ .Params.summary | markdownify }}</p>

                        <div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Continua a leggere<span class="screen-reader-text">Questo è un post standard</span></a></div>
                    </article>
                </div>
            </div>
        </div>
    {{ end }}
    
    {{ if gt ( len ( where ( where .Site.Pages "Type" "article" ) "Params.bozza" true ) ) 0 }}
    
    <hr style="background-color: #ccc; height: 3px; border: 0px" />
    
    {{ end }}
    
    {{/* DRAFT: FALSE */}}
    {{ range $index, $element := .Paginator.Pages }}

        {{ if and (isset .Params "image") .Params.image }}
            {{ if eq (mod $index 2) 0 }}
                <div class="post type-post odd excerpt post-box">
            {{ else }}
                <div class="post type-post even excerpt post-box">
            {{ end }}
        {{ else }}
            <div class="post type-post odd excerpt post-box">
        {{ end }}


        {{$category := index (.Params.categories) 0}}

        {{/* QUOTE */}}
        {{if eq $category "quote" }}
            <div class="format-quote">
                <p>{{.Content}}</p>
            </div>
        {{else}}
            {{/* POST */}}
            {{ if and (isset .Params "image") .Params.image }}
                {{/* Mostra sempre e solo l'immagine */}}
                {{ $cover := .Resources.GetMatch .Params.image }}
                    {{ $scaled := $cover.Resize "1080x q80" }}
                    <a class="featured-image-link" href="{{ .Permalink }}" alt="Leggi il post">
                        <div class='featured-image lazy lazy-bg-image' data-background="{{ $scaled.Permalink }}" style="top: -1px;">

                        {{ if and (isset .Params "video") .Params.video }}
                            <svg class="cover-video" aria-label="Click to Play" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
                            </svg>
                        {{ end }}
                        </div>
                    </a>
            {{ end }}
            <div class="excerpt-container">
                <div class="excerpt-meta">

                    <!-- POST NORMALE -->
                    <span class="date" style="cursor: default;" title="Post scritto il {{ .Date.Format "02" }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Format "2006" }}">
                        {{ .Date.Format "02" }}
                        {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }}
                        {{ .Date.Format "2006" }}
                    </span>

                    <span> / </span>
                    <span class="category" title="Vedi tutti i post della categoria">
                        <a href="/{{ $category | urlize }}">{{ humanize $category }}</a>
                    </span>
                </div>
                <div class='excerpt-header'>
                    <h2 class='excerpt-title'>
                        <a href="{{ .Permalink }} "> {{ .Title }} </a>
                    </h2>
                </div>
                <div class='excerpt-content'>
                    <article>
                        <p>{{ .Params.summary | markdownify }}</p>

                        <div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Continua a leggere<span class="screen-reader-text">Questo è un post standard</span></a></div>
                    </article>
                </div>
            </div>
        {{end}}
        </div>
    {{ end }}
</div>
