{{- $img := (cond ( eq .Type "article") ( ( ( printf "%s" .Params.image ) | absURL ) ) ( .Site.Params.image | absURL ) ) }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "{{ .Type }}",
    "mainEntityOfPage": {
         "@type": "{{ if eq .Type "article" }}Article{{else}}WebPage{{end}}",
         "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else if .IsPage}}{{ .Params.summary }}{{else}}{{ .Site.Params.Description }}{{ end }}",
    "inLanguage" : "it",
    "author" : "{{ .Site.Params.author }}",
    "copyrightHolder" : "{{ .Site.Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "image" : "{{ $img }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]   
}
</script>