<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/jquerymigrate.min.js" | absURL }}"></script>
<script src="{{ "js/production.min.js" | absURL }}?v={{ now.Unix }}"></script>
{{if $.IsHome}}
<!-- Slider. Sito: http://kenwheeler.github.io -->
<script src="{{ "assets/slick/slick.min.js" | absURL }}"></script>
<script type="text/javascript">
    /* Settings: https://kenwheeler.github.io/slick/ */
    var $ = jQuery;
    $(document).ready( function()
    {
        $('.slick-container').slick({
            lazyLoad: 'ondemand',
            swipeToSlide: true,
            touchMove: true,
            touchThreshold: 5,
            dots: true,
            infinite: true,
            speed: 1000,
            fade: true,
            cssEase: 'ease',
            autoplay: true,
            autoplaySpeed: 3000
        });
    });
</script>

<!-- Instagram .min -->
<script src="{{ "js/instagramFeed.js" | absURL }}"></script>
<script>
    (function($){
        $(window).on('load', function(){
                if ( getCookie('nparisiCookieApproved') )
                    /*
                     * Se non ci sono cookie non carica la sezione di instagram!
                     */
                    startInstaFeed();
            });
        })(jQuery);

    function startInstaFeed()
    {
        /* Settings: https://www.sowecms.com/demos/jquery.instagramFeed/index.html */
        $(document).ready(function(){
            $.instagramFeed({
                'username': 'npmelano',
                'container': "#instagram-feed",
                'display_profile': false,
                'display_biography': false,
                'display_gallery': true,
                'display_igtv' : false,
                'callback': null,
                'styling': true,
                'items': 5,
                'items_per_row': 5,
                'margin': 1 
            });
        });
    }
</script>
{{- end}}

<!-- Table of Content -->
<script>
    $(document).ready(function(){
        $("#toc-button").click(function()
        {        
            if($("#TableOfContents").is( ":visible" ))
            {
                $("#toc-button").attr( { "title" : "Espandi" } );
                $("#TableOfContents").hide(350);
            }
            else
            {
                $("#toc-button").attr( { "title" : "Riduci" } );
                $("#TableOfContents").show(350);
            }
        })
    });
</script>

<!-- Scroll to Top -->
<script>
function scrollToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 250;
}
function goToComments() {
  document.getElementById( "commenti-container" ).scrollIntoView();
}
</script>

{{- if eq .Type "article" }}
<!-- Disqus -->
<script>
$(document).ready(function(){
    $("#mostraCommenti").click(function()
    {
        $( "#mostraCommenti" ).text( "" );
        var disqus_trigger = jQuery('#disqus_trigger'),
            disqus_target = jQuery('#disqus_thread');

        // Load script asynchronously only when the trigger and target exist
        // $( "#disqusIcon" ).css({opacity: 0, visibility: "visible"}).animate( {opacity: 1}, 450);
        $( "#disqus_thread" ).show( 450 );
        
        if(disqus_target && disqus_trigger) {
          jQuery.ajaxSetup({ cache:true });
          jQuery.getScript('//{{ .Site.DisqusShortname }}.disqus.com/embed.js');
          jQuery.ajaxSetup({ cache:false });
          disqus_trigger.remove();
          
          /*$( "#mostraCommenti" ).hide( 450 ); */
          //$( "#disqusIcon" ).show( 450 );
          $( "#mostraCommenti" ).css( { "background" : "#4d4d4d", "border" : "0px", "cursor" : "context-menu" } );
          $( "#mostraCommenti" ).text( "COMMENTI" );
          $( "#mostraCommenti" ).off( "click" );
        }
    })
});
</script>

<script type="text/javascript">

    /*
     * Reading bar
     */
    function setReadingBar()
    {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("my-read-bar").style.width = scrolled + "%";
        
        /* Cambia il background della barra a seconda della % */
        document.getElementById("my-read-bar-container").style.backgroundColor = ( scrolled > 1 ) ? "#f1f1f1" : "#fff";
        document.getElementById("my-read-bar-container").style.boxShadow = ( scrolled > 1 ) ? "0 5px 12px 0 rgba(0,0,0,0.07)" : "none";
    }

    $(document).on('ready', function()
    {
        /*
         * Se la pagina viene aggiornata:
         * 1) mostra comunque la boxTools
         * 2) Imposta la read bar
         */
        // boxTools visibile
        if ( ( document.body.scrollTop > 400 || document.documentElement.scrollTop > 400 ) &&
                    window.width > 1024 )
            document.getElementById("boxTools").style.display = "inline-grid";
        
        // Read bar
        setReadingBar();

        /*
         * Eventi in on scroll
         */
        $(document).on('scroll', function()
        {
            /*
             * Mostra la boxtool
             */
            if ( document.getElementById("boxTools") !== null &&
                    window.innerWidth > 1024 )
                if ( document.body.scrollTop > 400 || document.documentElement.scrollTop > 400 )
                        document.getElementById("boxTools").style.display = "inline-grid";
                    else
                        document.getElementById("boxTools").style.display = "none";
            
            /*
             * Reading bar
             */
            setReadingBar();
            
            /*
             * Frecce di navigazione
             *
            if ( document.getElementById("nav-arrow-left") !== null )
                if ( ( document.body.scrollTop > 800 || document.documentElement.scrollTop > 800 ) &&
                    window.innerWidth > 1024 )
                    document.getElementById("nav-arrow-left").style.display = "inline-flex";
                else
                    document.getElementById("nav-arrow-left").style.display = "none"
            
            if ( document.getElementById("nav-arrow-right") !== null )
                if ( ( document.body.scrollTop > 800 || document.documentElement.scrollTop > 800 ) &&
                    window.innerWidth > 1024 )
                    document.getElementById("nav-arrow-right").style.display = "inline-flex";
                else
                    document.getElementById("nav-arrow-right").style.display = "none"; */
        });
    });
</script>

<!-- Navigation bar -->
<script type="text/javascript">
    $(document).ready(function(){
        /*
        $("#nav-arrow-left").hover( function()
        {
            if($("#suggestion-box").is( ":visible" ))
                $("#suggestion-box").fadeOut(350);
            else
                $("#suggestion-box").css("display", "inline").fadeIn(350);
        });         $("#nav-arrow-right").hover( function()
        {
            console.log( "hover" );
            if($("#suggestion-box").is( ":visible" ))
                $("#suggestion-box").fadeOut(350);
            else
                $("#suggestion-box").css("display", "inline").fadeIn(350);
        });*/
        
        $("#nav-arrow-left").click( function()
        {
            location.href=$( "#nav-arrow-left-link" ).text();
        });
                
        $("#nav-arrow-right").click( function()
        {
            location.href=$( "#nav-arrow-right-link" ).text();
        });
    });
</script>

<!-- Image gallery full screen -->
<script type="text/javascript">
    // Image to Lightbox Overlay 
    $(document).ready(function(){
        var width = $(window).width();
        
        if ( width < 784 )
        {      
            /*div.wide-screen, */
            $('div.wide-screen, .block-image .resize').click( 
                function()
                {
                    if (event.target == this)
                        src = $(this).parent().find('img')[1].src;
                    else
                        src = $(this, 'div' ).find('img')[1].src;
                    
                    $('#overlay').css( {
                                        backgroundImage: 'url(' + src + ')',
                                        transform: 'rotate(90deg) scale(1.75)'
                                    } )
                                .addClass('open');

                    $('#exit-button, #overlay').one('click', function() {
                                        $('#overlay').css( {
                                                            transform: 'rotate(0deg) scale(1)'
                                                        } )
                                        $('#exit-button').removeClass('open');
                                        $('#overlay').removeClass('open');
                                        $('#bg').removeClass('open');
                                    });

                    $('#exit-button').addClass('open');
                    $('#bg').addClass('open');
                }
            );
        }
    });
</script>
<div id="bg">
    <div style="color: #fff; text-align: center; font-variant: small-caps; font-weight: 600; margin-top: 1.4em;">
        &copy; 2018- {{ now.Format "2006" }}
    </div>
</div>
<div id="exit-button"><i class="fas fa-times"></i></div>
<div id="overlay"></div>

{{end}}

{{/* Form contatti */}}
{{ if eq .Params.url "email" }}
<script type="text/javascript">
$(document).ready(function(){
    $("input[type='text'], textarea").on("keyup", function(){
        if($("input[type='text']").val() != "" && $("textarea").val() != "" ){
            $("button[type='submit']").removeAttr("disabled");
        }
        else
            $("button[type='submit']").attr("disabled", "disabled");
    });
    
    $("#contact-box").submit( function(e)
    {
        e.preventDefault();

        var $form = $(this);
        $.post( $form.attr( "action" ), $form.serialize() ).then( function() {
                                                                alert("Grazie :)");
                                                                });
                                                        });

    $('button[type=submit]').click(function()
    {
        $(this).attr('disabled', 'disabled');
    });
    
});
</script>
{{end}}

<script type="text/javascript">
    (function($){
        $(window).on('load', function()
                {
                var placeholder = $('.placeholder');

                placeholder.each( function(index)
                                    {
                                        // Carica la miniatura
                                        var smallImgElement = $(this).find('.img-small');
                                        var img = new Image();
                                        img.src = smallImgElement.attr('src');
                                        img.onload = function () { smallImgElement.addClass('loaded'); };

                                        // Carica l'immagine grande
                                        var imgLarge = new Image();
                                        imgLarge.src = $(this).data('large');
                                        imgLarge.onload = function () { imgLarge.classList.add('loaded'); };
                                        $(this).append(imgLarge);

                                    }
                                )
            });
        })(jQuery);
</script>