<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/jquerymigrate.js" | absURL }}"></script>
<script src="{{ "js/production.min.js" | absURL }}?v={{ now.Unix }}"></script>

<!-- Slider -->
<script src="{{ "assets/slick/slick.min.js" | absURL }}"></script>
<script type="text/javascript">
    /* Settings: https://kenwheeler.github.io/slick/ */
    var $ = jQuery;
    $(document).ready( function()
    {
        $('.slick-container').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'ease',
            autoplay: true,
            autoplaySpeed: 3000
        });
    });
</script>

<!-- Instagram -->
<script src="{{ "js/instagramFeed.min.js" | absURL }}"></script>
<script>
    (function($){
        $(window).on('load', function(){
                if ( getCookie('nparisiCookieApproved') )
                    /*
                     * Se non ci sono cookie non carica la sezione di instagram!
                     */
                    startInstaFeed();
            });
        })(jQuery);

    function startInstaFeed()
    {
        /* Settings: https://www.sowecms.com/demos/jquery.instagramFeed/index.html */
        $(document).ready(function(){
            $.instagramFeed({
                'username': 'npmelano',
                'container': "#instagram-feed",
                'display_profile': false,
                'display_biography': false,
                'display_gallery': true,
                'display_igtv' : false,
                'callback': null,
                'styling': true,
                'items': 5,
                'items_per_row': 5,
                'margin': 1 
            });
        });
    }
</script>

<!-- Table of Content -->
<script>
    $(document).ready(function(){
        $("#toc-button").click(function()
        {        
            if($("#TableOfContents").is( ":visible" ))
            {
                $("#toc-button").attr( { "title" : "Espandi" } );
                $("#TableOfContents").hide(350);
            }
            else
            {
                $("#toc-button").attr( { "title" : "Riduci" } );
                $("#TableOfContents").show(350);
            }
        })
    });
</script>

<!-- Scroll to Top -->
<script>

window.onscroll = function() {
    if ( document.getElementById("boxTools") !== null )
        if ( document.body.scrollTop > 400 || document.documentElement.scrollTop > 400 )
                document.getElementById("boxTools").style.display = "inline-grid";
            else
                document.getElementById("boxTools").style.display = "none";
};

function scrollToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 320;
}
function goToComments() {
  document.getElementById( "commenti-container" ).scrollIntoView();
}
</script>

<!-- Disqus -->
<script>
$(document).ready(function(){
    $("#mostraCommenti").click(function()
    {
        $( "#mostraCommenti" ).text( "" );
        var disqus_trigger = jQuery('#disqus_trigger'),
            disqus_target = jQuery('#disqus_thread');

        // Load script asynchronously only when the trigger and target exist
        // $( "#disqusIcon" ).css({opacity: 0, visibility: "visible"}).animate( {opacity: 1}, 450);
        $( "#disqus_thread" ).show( 450 );
        
        if(disqus_target && disqus_trigger) {
          jQuery.ajaxSetup({ cache:true });
          jQuery.getScript('//nparisi-com.disqus.com/embed.js');
          jQuery.ajaxSetup({ cache:false });
          disqus_trigger.remove();
          
          /*$( "#mostraCommenti" ).hide( 450 ); */
          //$( "#disqusIcon" ).show( 450 );
          $( "#mostraCommenti" ).css( { "background" : "#4d4d4d", "border" : "0px", "cursor" : "context-menu" } );
          $( "#mostraCommenti" ).text( "COMMENTI" );
          $( "#mostraCommenti" ).off( "click" );
        }
    })
});

</script>