<div class="slider-container">
    {{ range .slider }}
        {{ $boardpage := $.outerScope.GetPage .url }}
        {{ $text_title := .text_title }}
        {{ $url := .url | absURL }}
        {{ $category := .category }}
        {{ $category_color := .color_category }}
        
            {{ $boardpage := $.outerScope.GetPage ( printf "%s/index.md" .url ) }}
            {{ $img := printf "images/%s" .image }}
            
            {{ $img := printf "images/%s" .image }}

            {{ with $boardpage.Resources.GetMatch $img }}
                {{ $scaled := .Crop "480x1024 Center q85" }}

                <a href="{{ $url }}">
                    <div class="slider-box" style="background: url('{{ $scaled.Permalink }}') no-repeat; background-size: cover; background-position: center;">

                        <h5 class="category" style="background-color: {{ $category_color }}">{{ $category }}</h5>

                        <div class="title"><h4>{{ replace $text_title "//" "<div class='ep-interspace'><br/><br/></div>" | safeHTML }}</h4></div>

                        <!--<div class="button"><a class="more-link" href="{{ $url | absURL }}" alt="Continua a leggere {{ .Title }}" title="Continua a leggere {{ .Title }}">Leggi<span class="screen-reader-text">Questo è un post </span></a></div>-->
                    </div>
                </a>
            {{ end }}
            
    {{ end }}
        
  </div>