{{ $img := .Get "img" }}
{{ $name := .Get "name" }}
{{ $package := .Get "package" }}

<div class="appbox">
    <img src="{{ $img }}" title="{{ $name }} ">
    <div>{{ $name }}</div>
    <a href="https://play.google.com/store/apps/details?id={{ $package }}" alt="Download l'app" title="Prova l'app" class="more-link" style="font-size: 14pt; padding: 0.5em 1.7em; margin: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" target="_blank" rel="noopener noreferrer">Vai</a>
</div>