{{/*
 * Con la variabile cat si possono correggere (ad occhio) i video che non sono allineati al testo:
 * big-1: per i video a risoluzione > da 1080x1920 
 */}}

{{ $caption := .Get "caption" }}

{{- $pc := .Page.Site.Config.Privacy.Vimeo -}}

{{- if not $pc.Disable -}}
    {{- if $pc.Simple -}}
        {{ template "_internal/shortcodes/vimeo_simple.html" . }}
    {{- else -}}
        <div class="block-video-vimeo{{ if .Get "cat"}} {{ .Get "cat" }}{{end}}"> 
            <iframe src="https://player.vimeo.com/video/{{ .Get "src" }}" {{ if $caption }}title="{{ $caption }}"{{ else }}title="Video su Vimeo"{{ end }} webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
            
            {{ if $caption }}
                <figcaption>
                    {{ $caption }}
                </figcaption>
            {{ end }}
        </div>
    {{- end -}}
{{- end -}}